apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "deployment-1"
  namespace: "default"
  labels:
    app: "deployment-1"
spec:
  replicas: 10
  minReadySeconds: 60
  selector:
    matchLabels:
      app: "deployment-1"
  template:
    metadata:
      labels:
        app: "deployment-1"
    spec:
      containers:
      - name: "myapp"
        image: "itaygoren/myapp:BUILD_NUMBER_PLACEHOLDER"
---
apiVersion: v1
kind: Service
metadata:
  name: my-service  # Replace with your service name
  namespace: default  # Replace with your namespace
spec:
  selector:
    app: deployment-1  # Replace with the label used by your deployment
  ports:
  - port: 5000  # The port the service exposes
    targetPort: 5000  # The port your pods are listening on
